future
numpy
pygame
pyyaml
rospkg
numpy
opencv-python
pycryptodomex
gnupg
tensorflow==1.13.1
gym==0.12.0
scikit-image
tensorflow_probability==0.6.0
torch==1.5.1
torchvision==0.6.1
protobuf==3.19.6
tensorboardX==2.5.1
